@import url('https://fonts.googleapis.com/css2?family=Your+Font');

/* Rest of your global styles */
body {
  font-family: 'Your Font', sans-serif;
  background: rgb(83, 83, 83);
}


*{
  margin: 0;
  padding: 0;
}
